#password {
  display: block;
  width: 18em;
  max-width: 100%;
  padding: 15px;
  font-size: 1em;
  border-width: 0px;
  background-color: rgb(228, 228, 228);
  margin-bottom: 5px;
}
#password:focus {
  outline: none;
}
