html {
  font-size: 200%;
  box-sizing: border-box;
  font-family: Rubik;
}
@media (max-width: 480px) {
  html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Rubik;
  }
}
html,
body {
  height: 100%;
  margin: 0;
}
